<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dorm Demystified</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css">
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>Dorm Demystified</h1>

    <h2>Browse dorms</h2>
    <h3>Quint</h3>
        <input type="button" value="Beebe">
        <input type="button" value="Cazenove">
        <input type="button" value="Munger">
        <input type="button" value="Pomeroy">
        <input type="button" value="Shafer">
    <h3>Tower Court</h3>
        <input type="button" value="Claflin">
        <input type="button" value="Lake House">
        <input type="button" value="Severance">
        <input type="button" value="Tower">
    <h3>East Side</h3>
        <input type="button" value="Bates">
        <input type="button" value="Freedman">
        <input type="button" value="McAfee">
        <input type="button" value="Stone-Davis">
    <h3>Language Houses</h3>
        <input type="button" value="Casa Cervantes">
        <input type="button" value="French House">

    <hr>
    <h2>Upload your dorm</h2>
    <form id="dormForm" method="GET" action="https://cs.wellesley.edu/~cs304flask/cgi-bin/dump.cgi">
        <p><label>Residence Hall: 
            <select name="reshall">
                <option value="">Select building</option>
                <option value="Beebe">Beebe</option>
                <option value="Cazenove">Cazenove</option>
                <option value="Munger">Munger</option>
                <option value="Pomeroy">Pomeroy</option>
                <option value="Shafer">Shafer</option>
                <option value="Claflin">Claflin</option>
                <option value="Lake House">Lake House</option>
                <option value="Severance">Severance</option>
                <option value="Tower">Tower</option>
                <option value="Bates">Bates</option>
                <option value="Freeman">Freeman</option>
                <option value="McAfee">McAfee</option>
                <option value="Stone-Davis">Stone-Davis</option>
                <option value="Casa Cervantes">Casa Cervantes</option>
                <option value="French House">French House</option>
            </select>
        </label></p>
        <p><label>Room Number: <input type=number name="room"></label></p>
        <p><label>Overall Rating: 
            <select name="rating">
                <option value="">Select</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </label></p>
        <p><label>Sunlight:
            <select name="sunlight">
                <option value="">Select</option>
                <option value="good">Good</option>
                <option value="okay">Okay</option>
                <option value="bad">Bad</option>
            </select>
        </label></p>
        <p><label>Noise level:
            <select name="noise">
                <option value="">Select</option>
                <option value="loud">Loud</option>
                <option value="okay">Okay</option>
                <option value="quiet">Quiet</option>
            </select>
        </label></p>

        <input type="file" id="image" name="filename" accept="image/*">
        
        <p><button type="submit">Submit</button></p>
    </form>

    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>
