h1 {
  font-family: 'Georgia', serif;
  font-size: 3rem;
  color: #4B2E83;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 3px solid #4B2E83;
  padding-bottom: 0.5rem;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  color: #1B365D;
  margin: 1.5rem 0 0.5rem;
  text-align: center;
}

h3 {
  font-family: 'Courier New', monospace;
  font-size: 1.5rem;
  color: #5C5C5C;
  margin-top: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-left: 5px solid #4B2E83;
  padding-left: 10px;
}


body {
  background-color: rgb(247, 238, 217);
}


.image-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.image-button img {
  display: block;
  transition: transform 0.3s ease;
}

.image-button:hover img {
  transform: translateY(-5px);
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  height: 100%;
}

.hero {
  background: url('munger.png') center center / cover no-repeat;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}